logs/*
!.gitkeep
node_modules/
/dist
.DS_Store
build
.tmp
.sass-cache
/target/
.project
.settings
.iml
/i18n/locales/*
/i18n/*.json
/i18n/po/*.mo
/yarn.lock

# allow only sharing idea run configs
.idea/*
!.idea/runConfigurations

# ng test coverage reports
/projects/bci-trinity/commons/dist/
/distNg6/
